/*!
component > dropdown-icon
------------------------------
*/
.c-dropdown-icon {
    display: inline-block;
    background: #eee;
    border: 2px solid #ddd;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
