/*!
component > menu
------------------------------
*/
.c-menu {
    position: absolute;
    background: #eee;
    border: 1px solid #ddd;
    width: 180px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.c-menu.active {
    visibility: visible;
    opacity: 1;
}

.c-menu-item {
    padding: 0.8em 1em;
    cursor: pointer;
}

.c-menu-item:not(:first-child) {
    border-top: 1px solid #ddd;
}
